
<%# <% @questions_data.each do |question|%>
  <%#= question.question_text %>
<%# end %>

    <% @questions_data.each do |question| %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted"><%= question.question_text %></h6>
          <p class="card-text"><div><%= question.question_text.length > 30 ? "#{question.question_text[0...30]}..." : question.question_text %></div>
      </p>
      <% if question.default == false %>
          <a href="#" class="card-link"><i class="fa-regular fa-pen-to-square"></i></a>
          <a href="#" class="card-link"><%= link_to new_question_path(@questions), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
      <% end %>
    <i class="fa-solid fa-trash-can"></i>
  <% end %>
  </a>
        </div>
      </div>
    <% end %>

<%= link_to "Add Question", new_question_path(@questions) %>
