<div class="textarea-container">
  <%= f.input :user_answer, label: "✏️", input_html: { class: 'form-control transparent-textarea' } %>
</div>
<div class="buttons-container">
  <%= f.submit "Update answer", class: "btn button_one" %>
</div>
