<div class="analytics-container">
  <h1>Dream Analytics</h1>
  <div id="dream-chart">
    <canvas id="dreamPieChart" data-controller="analytics"
            data-analytics-labels-value="<%= @label_counts.keys %>"
            data-analytics-data-value="<%= @label_counts.values %>">
    </canvas>
  </div>


  <h2>Dream Count:</h2>
    <div class="dream-count">
      <%= @dream_counts %>
  </div>
</div>
