<h2>Dream Analytics</h2>

<div class="analytics-container">
  <div id="dream-chart">
    <canvas id="dreamPieChart" data-controller="analytics"
            data-analytics-labels-value="<%= @label_counts.keys %>"
            data-analytics-data-value="<%= @label_counts.values %>">
    </canvas>
  </div>


  <h2>Dreams Count</h2>
    <div class="dream-counts">
      <%= @dream_counts %>
  </div>
</div>
