
<button class="button_one"><%= link_to "return", root_path %></button>

<div class="new_container">
  <%= simple_form_for(@dream) do |f| %>
    <div class="input_container">
      <%= f.input :content, input_html: { class: 'form-control' } %>
    </div>
    <%= f.submit "Save", class: "button_one" %>
  <% end %>

  <div class="buttons-container">
    <button type="button" class="button_one">Delete</button>
    <button type="button" class="button_one">Add a Label</button>
  </div>
</div>
