<div class="container p-3 text-white">
  <%= link_to "↩", root_path, class: "btn button_one text-white" %>

  <div class="container-fluid">
    <h1>your recording will be dislayed below...</h1>
    <button type="button", class="btn button_one">record</button>
  </div>
</div>
