<p><button><%= link_to "return to library", root_path %></button></p>
<p>
<button type="button">label 1</button>
<button type="button">label 2</button>
</p>

<h2><%= @dream.date %></h2>
<p><%= @dream.content %></p>

<button type="button">delete dream</button>
<button type="button">edit dream</button>
