.analytics-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 90px 4px 26px 5px;
}

h1{
  color: white;
  font-weight: bold;
}

#dream-chart {
  width: 300px;
}

#dreamPieChart {
  margin-top: 20px;
  margin-bottom: 40px;
}

.dream-count {
  font-size: 60pt;
  margin: 20px;
  color:white
}
