// Specific CSS for your home-page
body {
  background: rgb(0,31,36);
  background: linear-gradient(90deg, rgba(0,31,36,1) 0%, rgba(4,4,33,1) 15%, #d349eb 100%);
}

.title {
  font-family: "Akkurat-Mono","Andale Mono",sans-serif;
  color: white;
  text-align: center;
  margin-top: 30px;
  letter-spacing: 5px;
}

.date {
  font-family: "Akkurat-Mono","Andale Mono",sans-serif;
  color: white;
  text-align: center;
  margin-bottom: 200px;
  margin-top: 15px;
}

.button {
  border-radius: 50px;
  background: transparent;
  text-decoration: none;
  color: #575489;
  font-size: 40px;
  padding: 15px 27px;
  border: none;
  border: 1px solid #575489;
  transition: background 200ms ease;
}

.button i {
  /* Adjust icon styles if needed */
  margin-right: 5px; /* Adjust spacing between icon and text */
}


.fa-solid{
  color:#575489
}

.moonball{
  position: fixed;
  top: -90px;
  left: -90px;
}

.figure{
  position: fixed;
  right: -270px;
  top: 320px;
}
