// Specific CSS for your home-page
body {
  background: rgb(0,31,36);
  // background: linear-gradient(90deg, rgba(0,31,36,1) 0%, rgba(4,4,33,1) 15%, #d349eb 100%);
  background: linear-gradient(90deg, rgba(0,31,36,1) 0%, rgba(4,4,33,1) 15%, #35043d 100%);
}

.title {
  font-family: "Akkurat-Mono","Andale Mono",sans-serif;
  color: white;
  text-align: center;
  margin-top: 30px;
  letter-spacing: 5px;
}

.date {
  font-family: "Akkurat-Mono","Andale Mono",sans-serif;
  color: white;
  text-align: center;
  margin-bottom: 200px;
  margin-top: 15px;
}

.button {
  border-radius: 50%;
  background: transparent;
  text-decoration: none;
  color: #575489;
  font-size: 40px;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 15px 26px; */
  border: 3px solid #575489;
  transition: background 200ms ease;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(87, 84, 137, 0.25) 0%, rgba(87, 84, 137, 0.00) 100%);
}

.fa-solid {
  color:#575489
}

.moonball {
  position: fixed;
  top: -90px;
  left: -90px;
}

.figure {
  position: fixed;
  right: -270px;
  top: 320px;
}

.moth {
  position: fixed;
  left: -55;
  top: 460px;
  opacity: 20%;
}
