<nav class="navbar navbar-light fixed-bottom bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav mx-auto flex-row">
      <li class="nav-item">
        <button type="button" class="btn btn-light">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-light">
          <%= link_to "Library", dreams_path, class: "nav-link" %>
        </button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-light">
          <%= link_to "Profile", "#", class: "nav-link" %>
        </button>
      </li>
    </ul>
  </div>
</nav>
