<body>
<nav class="navbar navbar-light fixed-bottom bg-light">
    <ul class="navbar-nav mx-auto flex-row">
      <li class="nav-item">
        <%= link_to root_path, class: "nav-link bottom-icons" do %>
          <i class="fas fa-home"></i>
          <p>Home</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to dreams_path, class: "nav-link bottom-icons" do %>
          <i class="fas fa-book-open"></i>
          <p>Library</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_user_session_path, class: "nav-link bottom-icons" do %>
          <i class="fas fa-user"></i>
          <p>Profile</p>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
