<nav class="navbar-bottom fixed-bottom">
      <div class="nav-item">
        <%= link_to root_path, class: "nav-link bottom-icons" do %>
          <i class="fas fa-home"></i>
          <p>Home</p>
        <% end %>
      </div>
      <div class="nav-item">
        <%= link_to dreams_path, class: "nav-link bottom-icons" do %>
          <i class="fas fa-book-open"></i>
          <p>Library</p>
        <% end %>
      </div>
      <div class="nav-item">
        <%= link_to edit_user_registration_path, class: "nav-link bottom-icons" do %>
          <i class="fas fa-user"></i>
          <p>Profile</p>
        <% end %>
      </div>
  </div>
</nav>

