<h3><%= "Welcome #{current_user.email.split('@').first}" %></h3>
<p><%= "#{Date.today.strftime('%A, %B %d, %Y')}" %></p>


<button type="button">record</button>
<%= link_to "write", new_dream_path %>
<button type="button">questions</button>
<p><%= link_to "Index", dreams_path %></p>
