<p><%= "Hello #{current_user.email.split('@').first}" %></p>
<p><%= "Today's Date: #{Date.today.strftime('%A, %B %d, %Y')}" %></p>


<button type="button">record</button>

<button type="button"><%= link_to "write", new_dream_path %></button>

<button type="button">questions</button>
