<h3><%= "Welcome #{current_user.email.split('@').first}" %></h3>
<p><%= "#{Date.today.strftime('%A, %B %d, %Y')}" %></p>


<button type="button"><%= link_to "record", new_audio_path %></button>
<button type="button"><%= link_to "write", new_dream_path %></button>
<button type="button">questions</button>
