<p><%= "Hello #{current_user.email.split('@').first}" %></p>
<p><%= "Today's Date: #{Date.today.strftime('%A, %B %d, %Y')}" %></p>


<button type="button">record</button>
<%= link_to "write", new_dream_path %>
<button type="button">questions</button>
