.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}


.delete_icon {
  display: flex;
  width: 51px;
  height: 52.821px;
  padding: 10.929px;
  justify-content: center;
  align-items: center;
  gap: 14.571px;
  flex-shrink: 0;
  border-radius: 14.571px;
  background: rgba(255, 255, 255, 0.20);
}
