// container for each page
.container {
  padding: 15px;
  color: white;
}

.home-buttons-container-1 {
  margin-top: -170px;
}

.home-buttons-container {
  margin-top: -110px;
}

// new recording opacity box
.new-recording-opacity-box {
  position: relative;
  margin-top: 15px;
  padding-bottom: 10px;

  min-height: 200px;
  max-height: auto;
  // overflow: hidden;
  // border-radius: 20px;
  // display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // flex-shrink: 0;
}

.new-recording-opacity-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 20%;
  z-index: -1;
}

// new recording title
.new-recording-title-container {
  font-size: 20px;
  color: #b5aebe;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;

  left: 0;
  margin: 0px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
 }

// new recording content
.new-recording-content-container {
  background: inherit;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  // color: #b5aebe;
  margin: 0;
  // flex-direction: column;
  // overflow-y: auto;
  width: 100%;
  justify-content: center;
  text-align: center; /* Align text horizontally in the center */
  padding: 15px;
  height: auto;
}


.new_container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // margin: 16px;

  min-height: 500px; /* Set a minimum height if needed */
  max-height: 80vh; /* Set a maximum height if needed */
  flex-shrink: 0;

  border-radius: 20px;
  border: 1.5px solid rgba(255, 255, 255, 0.50);
  background: rgba(255, 255, 255, 0.50);
  background-blend-mode: overlay;
  backdrop-filter: blur(30px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  overflow-y: auto; /* Add scrollbar if content exceeds max-height */
}

.input_container {
  width: 348px;
  min-height: 300px; /* Set a minimum height if needed */
  flex-grow: 1; /* Let the input container grow to take up available space */
  margin-bottom: 15px;
}

.buttons-container {
  // display: flex;
  text-align: center;
  gap: 10px;
  padding: 15px;
  margin-top: -20px; // Move the buttons container up by 20px
}

fieldset {
  text-align: center;
}

.form-label {
  font-size: 1.25rem;
}

.cards-container {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  flex-direction: column;
}

// index page
.opacity-box {
  position: relative;
  margin-top: 15px;
  min-height: 200px;
  // max-height: 400px;
  overflow: hidden;
  // border-radius: 20px;
  // display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // flex-shrink: 0;
}

.textarea-container {
  margin: 0px;
  // display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  padding-top: 0;
}


.form-control {
  color: #b5aebe !important;
}

input[placeholder], [placeholder], *[placeholder] {
  color: #b5aebe!important;
}

.transparent-textarea, .form-control:focus {
  color: #b5aebe!important;
  background-color: transparent;
  border-color: grey;
  outline: 0;
  box-shadow:none;

}

.textarea-container label {
  margin-bottom: 5px; /* Adjust as needed for spacing */
}



.opacity-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 20%;
  z-index: -1;
}

.opacity-card {
  position: relative;
  border-radius: 20px;
  display: flex;
  width: 317PX;
  height: 81PX;
  padding: 10px;
}

.opacity-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 20%;
  z-index: -1;
}



.dream-placeholder::placeholder {
  color: grey;
}

.date-container {
  // position: absolute;
  padding: 15px;
  left: 0;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
 }

 .date-container h5 {
  color: #b5aebe;
 }

 .textarea-container textarea {
  height: 250px;
  color: #b5aebe;
  /* Add any other styles as needed */
}

.textarea-container {
  margin: 0px;
  // display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  padding-top: 0;
}

// index opacity box
.index-opacity-box {
  position: relative;
  margin-top: 15px;
  padding-bottom: 10px;

  min-height: 200px;
  max-height: 400px;
  overflow: hidden;
  // border-radius: 20px;
  // display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // flex-shrink: 0;
}

.index-opacity-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 20%;
  z-index: -1;
}

// index cards
.index-cards-container {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

// index dream content
.index-dream-content-container {
  background: inherit;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #b5aebe;
  margin: 0;
  // flex-direction: column;
  // overflow-y: auto;
  width: 100%;
  justify-content: center;
  text-align: center; /* Align text horizontally in the center */
  padding: 15px;
}

//  index date
 .index-date-container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #b5aebe;
  padding: 10px;
  left: 0;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
 }


// index promt
 .index-promt-container {
  font-size: 20px;
  color: #b5aebe;
  padding-left: 10px;
  padding-right: 10px;
  left: 0;
  margin: 0px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
 }

 .question-opacity-card {
  position: relative;
  border-radius: 20px;
  display: flex;
  width: 317PX;
  height: 81PX;
  padding: 10px;
  font-size: 19px;
}

.question-opacity-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 20%;
  z-index: -1;
}
