
.nav-link {
  display: flex;
  flex-direction: column;
  padding: 14px 16px;
  align-items: center;
  font-size: 18px; /* Adjust the icon size */
  color:rgba(181, 174, 190, 1)/* Set the icon color */
}

.navbar-bottom {
  display: flex;
  justify-content: space-between;
  background-color:rgba(53, 51, 81, 1);
}

.navbar-bottom p {
  margin: 0;
}
