.navbar-bottom p {
  margin: 0;
}

.navbar-bottom {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  border-radius: 20px;
  width: calc(100% - 30px); // Subtract the left and right margins from the width
  padding: 15px 15px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  background-color: rgba(53, 51, 81, 1);
}

.nav-item {
  display: inline-block; /* Ensures that items are on the same line */
  margin: 0 10px;
}

.nav-link.bottom-icons {
  text-align: center;
  color: rgba(181, 174, 190, 1);
  text-decoration: none;
  display: block;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .nav-item {
    margin: 0 5px; /* Adjust margin for smaller screens */
  }
}
