.tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tag {
  // display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  color: #ECEAFF;
  border: 1px solid #7E73FF;
  // margin-right: 0.6rem;
  // margin-bottom: 0.4rem;
  background-color: #7E73FF;
  margin: 4px 4px;
}
